<form action="/posts" method="POST">
  <input type="text" name="title" id="title" required />
  <input type="text" name="text" id="text" required />
  <button type="submit">Post</button>
</form>

<h1>Posts</h1>
<div class="posts">
  <% posts?.length > 0 && posts.forEach(post => { %>
  <div class="post-item">
    <a href="/posts/<%= post._id %>"><%= post.title %></a>
    <span><%= post.author.username %></span>
    <p><%= post.date %></p>
  </div>
  <% }) %>
</div>
