<h1>Register</h1>

<% if (locals.error) { %>
<span style="color: red; font-weight: 900"><%= error %></span>
<% } %>

<form action="/register" method="POST">
  <input
    type="text"
    name="username"
    id="username"
    placeholder="Username"
    required
  />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Password"
    required
  />
  <button type="submit">Login</button>
</form>

<a href="/login">Login</a>
